
.virtual-list-auto {
    overflow: auto;
    position: relative;
    height: 100%;
    border: 1px solid #999;
    .phantom {
        position: relative;
    }
    .content {
        position: absolute;
        top: 0;
    }
}