@import './variable.less';

.ai-learning() {
    --learn-bg-color: @bg-color;

    --learn-button-bg-color: @bg-color;
    --learn-button-border-color: @border-color;
}

.ai-learning-chat() {
    --learn-chat-bg-color: @chat-bg-color;
}

.ai-learning-header() {
    --learn-header-bg-color: @header-bg-color;
}

.ai-learning-chat-icon() {
    --learn-chat-icon-shadow: @icon-shadow;
    --learn-chat-icon-shadow-hover: @icon-shadow-hover;
}