* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

html, body {
    box-sizing: border-box;
}

body {
    font: 400 13px/1.4 -apple-system,BlinkMacSystemFont,Open Sans,Helvetica Neue,arial,Microsoft YaHei UI,Microsoft YaHei,simsun,sans-serif;
    font-family: PingFang SC,Helvetica Neue,Hiragino Sans GB,Microsoft YaHei,Arial,SimSun,sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

ul, ol {
    padding: 0;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

input,
textarea {
    outline: none;
}