@import './assets/style/global.scss';

// 注入 shadow dom 全局样式
.ai-theme {
    --learn-bg-color: #FFF;

    --learn-button-bg-color: #FFF;
    --learn-button-border-color: #000;

    --learn-chat-bg-color: rgba(73, 87, 242, 0.08)

    --learn-header-bg-color: #75C2E6;

}

.ai-icon-theme {
    --learn-chat-icon-shadow: rgba(0, 0, 0, .15);
    --learn-chat-icon-shadow-hover: rgba(51, 119, 255, .5);
}
